
$color-black: #1a1a18;
$color-white: #ffffff;
$color-gold: #e5c783;
$color-beige: #fbedb7;
$color-lightgray: #f3f3f3;
$color-gray: #b2b2b2;
$color-darkgray: #8b8b8b;

$screen-max: 1308px;

$link-color: $color-gold;

$icon-font-path: "/Content/font/bootstrap/";

$border-radius-base: 0;

$navbar-height: 80px;
$navbar-border-radius: none;
$navbar-border-width: 3px;
$navbar-default-border: $color-gold;
$navbar-default-bg: $color-black;
$navbar-margin-bottom: 0;
$navbar-default-link-hover-bg: $color-lightgray;
$navbar-default-link-active-bg: $color-lightgray;
$navbar-padding-vertical: 0;
$navbar-default-link-color: $color-black;
$navbar-default-link-active-color: $navbar-default-link-color;
$navbar-padding-horizontal: 0;
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-icon-bar-bg: $color-lightgray;

$nav-sitemap-border-width: 0;

$caret-width-base: 8px;

$font-weight-light: 300;
$font-weight-book: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$btn-width-sm: 130px;
$btn-width-lg: 184px;
$btn-border-thick: 3px;
$btn-border-thin: 1px;


$slick-dot-character: '';
$slick-prev-character: '';
$slick-next-character: '';
